[submodule ".oh-my-zsh/custom/plugins/alias-tips"]
	path = .oh-my-zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule ".oh-my-zsh/custom/plugins/F-Sy-H"]
	path = .oh-my-zsh/custom/plugins/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-vi-mode"]
	path = .oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
	path = .oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
